.main-box{
    display: flex;

    height: 100vh;
    width: 100%;
}

.left-side{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161B40;

    width: 50%;
    float: left;

}
/* .left-header{
        padding: 100px; 
} */
.left-side h1{
    color: aliceblue;
    font-size: 40px;
}

.right-side{
    width: 50%;
    float: right;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-side button{
    border: none;
    border-radius: 20px ;
    background-color: rgb(36, 7, 64);

    padding: 10px;

    font-size: 12px;
    color: aliceblue;

    margin-top: 90px;
}
.login-signup{
    display: flex;
    flex-direction: column;
}

.login-signup button{
    border: none;
    border-radius: 20px ;
    background-color: blueviolet;

    padding: 20px;

    font-size: 24px;
    color: aliceblue;

    margin: 30px;
}

.login{
    display: flex;
    flex-direction: column;
}
.login button{
    border: none;
    border-radius: 20px ;
    background-color: blueviolet;

    padding: 20px;

    font-size: 24px;
    color: aliceblue;

    margin: 30px;
}

.signup{
    display: flex;
    flex-direction: column;
}
.signup button{
    border: none;
    border-radius: 20px ;
    background-color: blueviolet;

    padding: 20px;

    font-size: 24px;
    color: aliceblue;

    margin: 30px;
}
.login-user-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-header{
    margin: 20px;
}
.enter{
    border: 1px solid black;
    border-radius: 20px;

    margin: 20px;
    padding: 10px;
    outline: none;
}
.submit{
    border: none;
    background-color: deepskyblue;
    border-radius: 20px;

    width: min-content;
    padding: 10px;
    color: white;
    font-weight: 700;
}

.form-signup{
    display: grid;
    grid-template-columns: 3fr 3fr;
    width: 100%;
    margin-bottom: none;
}

.submit-signup{
    align-self: center;
    position: relative;
    left: 80%;
    margin-top: 15px;
}
/* .desc{
    width:160px;
    position: relative;
    left: 50%;
} */