@media only screen and (max-device-width: 880px) {
    .mobile-menu-buttons{
            display: flex;
            padding: 10px;
            color: #161B40;
    }
    .menu-button{
        background: none;
        outline: none;
        border: none;
    }
}