@media only screen and (max-device-width: 880px) {
    .mobile-menu-buttons{
            display: flex;
            padding: 10px;
            color: #161B40;
            position: absolute;
            top: 10px;
            right: 10px;
    }
    .menu-button{
        background: none;
        outline: none;
        border: none;
    }
    .right-menu{
        display: none;
    }
    .right-menu-phone{
        display:grid;
        position: absolute;
        top: 30%;
        left: 10%;

    }
    .phone-search{
        display: flex;
        align-items: center;
        justify-content: space-between;

        width:90%;
        height: 38px;
        flex-shrink: 0;

        border-radius: 20px;
        background: #FFF;

        position: absolute;
        top: 15%;
        left: 20px;
    }
    .phone-menu{
        background-color: black;
        opacity: 0.7;
        position: relative;
        top: 0px;
        right: 0px;
        left: 0px;
        height: 100vh;
    }

    /* cart starts here  */
    .cart-button{
        background-color: grey;
        width: 80vw;
        opacity: 1.0;
        border-radius: 20px;
        margin-top: 10px;
    }
    .cart{
        padding: 10px;
    }
    /* cart ends here  */
    /* wishlist starts here  */
    .wishlist-button{
        background-color: grey;
        width: 80vw;
        opacity: 1.0;
        border-radius: 20px;
    }
    .wishlist{
        padding: 10px;
    }
    /* wishlist ends here  */
    /* sign-in starts here  */
    .sign-in-button{
        background-color: grey;
        width: 80vw;
        opacity: 1.0;
        border-radius: 20px;
        margin-top: 10px;
    }
    .sign-in{
        padding: 10px;
    }
    /* sign-in ends here  */

}